name: Install, Build, Lint and Test
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [14]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Use coturiv/setup-ionic
        uses: coturiv/setup-ionic@v1
      - name: Install Dependencies
        run: npm install
      - run: npm install -g @nrwl/cli
      - name: Run Lint
        run: npm run lint:all:apps
      - name: Build
        run: npm run build:all
